.artisttitle {
  color: black;
}

.artisttitledark {
  color: white;
}

.searchformcontainer {
  padding-bottom: 16px;
}

.searchbutton {
  padding-left: 8px;
  padding-right: 8px;
}

.searchinput {
  margin-right: 16px;
}

.releasecontainer {
  padding: 4px;
  padding-bottom: 16px;
  border-bottom: 4px solid #eaeaea;
}

.releasecontainerdark {
  padding: 4px;
  padding-bottom: 16px;
  border-bottom: 4px solid #aeaeae;
}

.detaillist {
  border-top: 1px solid black;
  padding: 2px;
  padding-top: 4px;
}

.detaillistdark {
  border-top: 1px solid white;
  padding: 2px;
  padding-top: 4px;
}

.detaillistitem {
  padding: 2px;
  color: black;
}

.detaillistitemdark {
  padding: 2px;
  color: white;
}

.detaillistitem a:hover {
  cursor: pointer;
  color: blue;
}

.detaillistitemdark a:hover {
  cursor: pointer;
  color: yellow;
}

.showmorebutton {
  margin-top: 8px;
}

.objcontainer {
  border-bottom: 4px solid #eaeaea;
}

.objcontainerdark {
  border-bottom: 4px solid #aeaeae;
}

.releasetitle {
  color: black;
}

.releasetitledark {
  color: white;
}

.releaseitem {
  color: black;
}

.releaseitemdark {
  color: white;
}

.discoglink a{
  color: black;
}

.discoglinkdark a{
  color: white;
}

.discoglink a:hover {
  cursor: pointer;
  color: blue;
}

.discoglinkdark a:hover {
  cursor: pointer;
  color: yellow;
}

.extraartist {
  color: black;
}

.extraartistdark {
  color: white;
}

.tracktitle {
  color: black;
}

.tracktitledark {
  color: white;
}

.trackdetails {
  color: black;
}

.trackdetailsdark {
  color: white;
}

.discogobjcontainer {
  border-bottom: 4px solid #eaeaea;
}

.discogobjcontainerdark {
  border-bottom: 4px solid #aeaeae;
}

.discogobjlabel {
  color: black;
}

.discogobjlabeldark {
  color: white;
}

.objtext {
  color: black;
}

.objtextdark {
  color: white;
}

.listitem {
  color: black;
}

.listitemdark {
  color: white;
}

.pagenavcontainer {
  display: flex;
  flex-direction: row;
}

.pagenumber {
  align-self: center;
  padding-left: 24vw;
  padding-right: 24vw;
}

.pagenavbackbutton {
  align-self: flex-start;
}

.pagenavnextbutton {
  align-self: flex-end;
}

.settingstoolbar {
  min-width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.darkmodebuttondark {
  color: black;
  align-self: flex-end;
}

.darkmodebutton {
  color: black;
  align-self: flex-end;
}
